html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.top{
  background-color: steelblue;
  text-align: center;
  padding: 20px;
}

.top div:nth-child(2){
  font-size: 3em;
}

.bottom{
  flex-grow: 1;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}

.game-center{
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.boxes{
  display: flex;
}

.box{
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.65s ease;
}

.box:last-child{
  margin-right: 0;
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;
}

.modal-button{
  cursor: pointer;
  padding: 10px;
  border: 1px solid white;
}

.modal.show{
  display: flex;
  transform: scale(46);
}
